body{
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg,#1f2933,#0f766e);
}

.container{
  max-width:1200px;
  margin:40px auto;
  background:#fff;
  padding:40px;
  border-radius:14px;
}

section{
  background:#f8fafc;
  padding:30px;
  border-radius:12px;
  margin-bottom:35px;
}

h1,h2{
  text-align:center;
  margin-bottom:25px;
}

/* FORMULÁRIOS */
form{
  display:flex;
  flex-wrap:wrap;
  gap:25px;
}

form input,
form select{
  flex:1 1 280px;
  padding:14px;
  border-radius:8px;
  border:1px solid #ccc;
  font-size:15px;
}

form button{
  padding:14px 25px;
  border-radius:10px;
  border:none;
  background:#16a34a;
  color:#fff;
  cursor:pointer;
  font-size:15px;
  min-width:220px;
}

form button:hover{
  background:#15803d;
}

/* TABELA */
table{
  width:100%;
  border-collapse:collapse;
}

th{
  background:#16a34a;
  color:white;
}

th,td{
  padding:12px;
  border-bottom:1px solid #ddd;
  text-align:center;
}

/* RESUMO */
.resumo-box{
  display:flex;
  justify-content:space-around;
  background:#ecfeff;
  padding:25px;
  border-radius:12px;
  font-size:18px;
}

/* BOTÃO EXCLUIR */
.delete-btn{
  background:#dc2626;
  color:white;
  border:none;
  padding:6px 10px;
  border-radius:6px;
  cursor:pointer;
}

.delete-btn:hover{
  background:#b91c1c;
}

/* MOBILE */
@media(max-width:700px){
  .container{padding:20px;}
  form input,
  form select,
  form button{
    flex:1 1 100%;
  }
  .resumo-box{
    flex-direction:column;
    gap:15px;
    text-align:center;
  }
}
